@model IEnumerable<PrintingSolidsStore.Models.Product>

<h1>Printing Solids Store</h1>

<table class="center contentBox">

    <thead>
        <tr class="text-subt-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-norm-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="button-dark" asp-action="UserDetails" asp-route-id="@item.ProductID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

