@model PrintingSolidsStore.Models.Product

@{
    ViewData["Title"] = "UserDetails";
}

<h1>Details</h1>

<div class="center contentBox width-fit">
    <dl class="row">
        <dt class="col-sm-2 text-subt-dark">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 text-norm-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 text-subt-dark">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 text-norm-light">
            $@Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<p>
    <a class="button-dark" asp-action="Store">Back to List</a>
</p>

