/* Add a black background color to the top navigation */
.topnav {
    background-color: #1c0f0a;
    overflow: hidden;
    border-radius: 10px;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #A5402D;
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #A5402D;
            color: #1c0f0a;
        }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }

body {
    height: 98vh;
    width: 98%;
    /*width: fit-content;*/
    background: linear-gradient(90deg, #1b1a1a 2%, #081270 99%)
    /*background: radial-gradient(#1b1a1a 60%, #081270 90%)*/
    /*background: linear-gradient(159deg, #1b1a1a 15%, #081270 89%)*/
    /*background-color: #272525;*/
}

header {
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

main {
    border: 12px solid #240c0c;
    border-radius: 30px;
    margin: auto;
    width: 45%;
    padding: 8px 100px;
    background-color: #1b1a1a;
}


/*Text*/
h1 {
    color: #A5402D;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 36px;
    text-decoration: underline;
    font-size: 45px;
}

h2 {
    text-align: center;
    color: #A5402D;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 16px;
    font-size: 35px;
}

p {
    text-align: center;
    color: #f3e3df;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 16px;
    font-size: 23px;
    line-height: 1.5;
}

dt {
    text-align: left;
    color: #A5402D;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 16px;
    font-size: 26px;
}

dd {
    text-align: left;
    color: #f3e3df;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 16px;
    font-size: 22px;
    line-height: 1.5;
}


/* Picture*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1b1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #240c0c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #A5402D;
    }
