
<div class="text-center">
    <h1>Printing Solids Co.</h1>

    <div class="center contentBox width-m text-norm-light">
        <p>
            Printing Solids Co. is a small independent company created for manufacturing small,
            unique parts using the power of 3D Printing.
        </p>
        <p>
            Specialty Parts can be modeled and designed upon request
        </p>
        <p>
            Contact me at zyoungSTEM2019@gmail.com for more
        </p>
    </div>
</div>
