<div class="text-center">
    <h1>Privacy Policy</h1>
    <div class="center contentBox width-m text-norm-light">
        <p>
            All information entered and stored by Printing Solids Co. will never be sold to anyone ever
        </p>
        <p>
            In short, your data stays safe with us
        </p>
    </div>
</div>
